.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem;
}

textarea::placeholder {
  color: #7f8084;
}

button {
  display: inline-block;
  text-align: center;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-4 {
  margin-top: 1rem;
}
